asgiref==3.11.1
django==4.2.30
gunicorn==23.0.0
joblib==1.5.3
numpy==2.0.2
packaging==26.2
scikit-learn==1.6.1
scipy==1.13.1
sqlparse==0.5.5
threadpoolctl==3.6.0
typing-extensions==4.15.0
tzdata==2026.2
whitenoise==6.11.0
